body{
    background-color: gray;
}

h1{
    font-family: Arial;
    color: blueviolet;
}

.tbox{
    margin: 0 auto;
    border-left: 2px dotted blue;
    border-bottom: 2px solid blue;
    width: 250px;
    padding: 5px;
}

a{
    font-family: 'Times New Roman', Times, serif;
    background-color:black;
    color:aqua;
    font-size: 20px;
    border: 3px darkred solid;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.indexul{
    box-sizing: border-box;
    margin: 30px auto;
    width: 250px;
    height: auto;

}

.title{
    font-family: Verdana;
    color: darkred;
}

p,.title,.center{
    text-align: center;
}

.center li{
    color: bisque;
}

.title2{
    background-color:blue;
    color:firebrick;
    font-family:Courier;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.title2.right{
    background-color:firebrick;
    color:blue;
    font-family:'Trebuchet MS';
}

#justify{
    text-align: justify;
}

.aqua{
    color: aqua;
}

#justify li{
    background-color: burlywood;
    font-size: 16px;
}

.bcolor{
    background-color:aquamarine;
}

.chili{
    height: auto;
    width: 320px;
}

.carbonade{
    height: auto;
    width: 330px;
}

.hachi{
    height: auto;
    width: 330px;
}